In [5]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
from sklearn import linear_model

In [6]:
#check the working directory
import os
os.getcwd()

'/Users/smohanty/Desktop/MS Courses/LearnML/Linear_Regression'

In [8]:
#read the homes data as training data
df = pd.read_csv('home_plus_train.csv')
df

   Area  BR   Age    Price
0  1000   1  10.0  2500000
1  2000   3   4.0  5000000
2  1100   2   1.0  1250000
3   900   1   NaN  1000000
4  1750   3   2.0  2400000
5  1500   2   4.0  1800000
6  1450   3   5.0  1500000
7  1300   2   1.0  1450000
8  1900   4   0.0  3750000

In [16]:
#there is a NaN data, we need to fix this data
#NaN can be fixed to median of Age of the House value
import math
#set to the floor value
new_house_age = math.floor(df.Age.median())
new_house_age
#fill it with the new median value
df.Age = df.Age.fillna(new_house_age)
df

   Area  BR   Age    Price
0  1000   1  10.0  2500000
1  2000   3   4.0  5000000
2  1100   2   1.0  1250000
3   900   1   3.0  1000000
4  1750   3   2.0  2400000
5  1500   2   4.0  1800000
6  1450   3   5.0  1500000
7  1300   2   1.0  1450000
8  1900   4   0.0  3750000

In [18]:
#now we need to train the model with linear regression
lr = linear_model.LinearRegression()

#set the dataset - Area, BR and Age are three features and Price is the Class
lr.fit(df[['Area','BR','Age']], df.Price)

LinearRegression()

In [23]:
#once the Data is fit to Linear Regression Model is set, let's now check the coefficients and interception
lr.coef_

array([   3899.58356994, -437851.36286201,  116613.03552275])

In [24]:
#interception
lr.intercept_

-2662015.610869163

In [28]:
#now let's predict the class for Sqft = 2000, BR = 3 and Age = 0
p_price = lr.predict([[2000,3,1]])
p_price

array([3940210.47595008])

In [29]:
#now let's compare the value with a manual calculation
# y = m1x1 + m2x2 + m3x3 + c
p_temp = lr.coef_[0]*2000 + lr.coef_[1]*3 + lr.coef_[2]*1 + lr.intercept_
p_temp

3940210.4759500814